body{
    background-color: azure;
    font-family: sans-serif;
    display: flex;
    justify-content: center;

}

content {
width: 800px;
display: flex;
flex-direction: column;
justify-content: center;
gap: 10px;
}

div {
  border: 1px solid black;


}



.title {
  background: red;
  width: auto;
  color: white;
  padding: 10px;
  border-radius: 5px;

  text-transform: uppercase;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;

}

.items {
    padding: 10px;
    display: flex;
    gap: 20px;
}
